= form_with(model: question, local: true) do |form|
  - if question.errors.any?
    #error_explanation
      %h2
        = pluralize(question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_area :title

  = form.fields_for :answers do |a|
    .field
      = form.label [:answer, '№', a.options[:child_index] + 1].join(' ')
      = a.text_field :title
      = a.check_box :correct
  .actions
    = form.submit
