%h1= formtitle

= form_with(model: question, local: true) do |form|
  - if question.errors.any?
    #error_explanation
      %h2
        = pluralize(question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_area :title

  .field
    = form.label :theme_id
    = form.select :theme_id, Theme.order(:title).map{ |theme| [theme.title, theme.id] }, { include_blank: t('actions.select') }

  = form.fields_for :answers do |a|
    .field
      = a.label :title, t('questions.answer', index: a.options[:child_index] + 1)
      .row
        .col-11
          = a.text_field :title
        .col-1
          = a.check_box :correct, class: 'right-checkbox'
  .actions
    = form.submit class: 'btn'
