- next_url = @pagy.next ? round_path(@round, page: @pagy.next) : result_round_path(@round)

.row
  .col
    %h1
      #{@pagy.page}. #{question.title}

    = question.theme.title

    #timer{data: {url: next_url } } 15

  .col.text-right
    %strong
    = Question.human_attribute_name(:author)
    = question.author.email

.row
  .col
    - question.results.each do |result|
      = result

.row
  - question.answers.shuffle.each do |answer|
    .col-6
      = link_to answer.title,
        check_question_path(question, answer_id: answer.id, round_id: @round.id),
        remote: true,
        class: 'button',
        id: dom_id(answer)
.row
  .col
    #timer-next{data: {url: next_url } }