- next_url = @pagy.next ? round_path(@round, page: @pagy.next) : result_round_path(@round)

.row
  .col.col-12
    = question.theme.title

    %h1
      Вопрос № #{@pagy.page}.
    %h1.text-center
      #{question.title}

    #timer{data: {url: next_url } } 15

  .col.text-right
    %strong
    = Question.human_attribute_name(:author)
    = question.author.email

- question.answers.shuffle.each do |answer|
  .row
    .col.col-12
      = link_to answer.title,
        check_question_path(question, answer_id: answer.id, round_id: @round.id),
        remote: true,
        class: 'button',
        id: dom_id(answer)
.row
  .col.text-center
    = link_to 'next', next_url, class: 'btn d-none', id: 'next-button', remote: true