- if @pagy.next
  - next_url = round_path(@round)
  - next_title = t('actions.next')
- else
  - next_url = result_round_path(@round)
  - next_title = t('results.show')

.row
  .col.col-12
    .progress
      = @round.results.pluck(:success).each do |result|
        - if result == false
          .progress-bar-failed(style="width:#{@round.questions_part}%")><
        - else
          .progress-bar-success(style="width:#{@round.questions_part}%")><

  .col.col-12.text-muted.text-right
    = [Question.human_attribute_name(:author).downcase, question.author.login].join(': ')

  .col.col-12
    %h2.text-center.question-title
      %span.text-muted Вопрос № #{@pagy.page}.
      #{question.title}

  .col.col-12
    #timer.timer{data: {url: next_url } } 15

.row
  - question.answers.shuffle.each do |answer|
    .col.col-12
      = link_to answer.title,
        check_question_path(question, answer_id: answer.id, round_id: @round.id),
        remote: true,
        class: 'button btn-by',
        id: dom_id(answer)
.row
  .col.col-12.text-center
    = link_to next_title, next_url, class: 'btn d-none', id: 'next-button', remote: true