- if policy(Question).new?
  .row
    .col
      = link_to t('questions.add'), new_question_path
.row
  .col
    - if @questions.any?
      %table
        %thead
          %tr
            %th= Question.human_attribute_name(:title)
            %th= Theme.model_name.human.capitalize
            %th= Question.human_attribute_name(:author)
            %th{:colspan => "3"}
        %tbody
          - @questions.each do |question|
            %tr
              %td= link_to question.title, question
              %td= question.theme.title
              %td= question.author.email
              - if policy(question).edit?
                %td= link_to t('actions.edit'), edit_question_path(question)
                %td= link_to t('actions.del'), question, method: :delete, data: { confirm: t('actions.sure') }
    - else
      = t('shared.empty')