- if policy(Question).new?
  .row
    .col
      = link_to t('questions.add'), new_question_path, class: 'btn btn-outline btn-sm mb-2'

.row
  .col.col-12
    - if @questions.any?
      %table.table
        %thead
          %tr
            %th= Question.human_attribute_name(:title)
            %th= Theme.model_name.human.capitalize
            %th= Question.human_attribute_name(:author)
            %th{:colspan => "2"}
        %tbody
          - @questions.each do |question|
            %tr
              %td= link_to question.title, question
              %td= question.theme.title
              %td= question.author.login
              - if policy(question).edit?
                %td
                  %ul.tooltip
                    %li
                      %a &#9881;
                      %ul
                        %li= link_to t('actions.edit'), edit_question_path(question)
                        %li= link_to t('actions.del'), question, method: :delete, data: { confirm: t('actions.sure') }
    - else
      = t('shared.empty')