.row
  .col
    %h1= @question.title

    = @question.theme.title
  .col.text-right
    %strong
    = Question.human_attribute_name(:author)
    = @question.author.email

- @question.answers.each do |answer|
  .row
    .col.col-12
      = link_to answer.title, '#', class: 'button'
