.row
  .col
    %h1= @question.title
  .col.text-right
    %strong Author:
    = @question.author.email

.row
  .col
    = form_for @question, url: check_question_path(@question), method: :put do |f|
      = f.collection_radio_buttons :answers, @question.answers.map{ |a| a.title }, :to_s, :to_s
      = f.submit 'Check'
.row
  .col
    - if policy(@question).edit?
      = link_to 'Edit', edit_question_path(@question)
      |
    = link_to 'Back', questions_path
