= render 'main/audit_search_form', q: @q

.row
  .col.col-12
    .pb-2.text-right= raw pagy_nav(@pagy)
    %table.table
      %thead
        %tr
          %th= t('audit.date')
          %th= t('audit.who')
          %th= t('audit.action')
          %th= t('audit.model')
          %th= t('audit.comment')
      %tbody
        - @audits.each do |audit|
          %tr
            %td
              = rus_datetime(audit.created_at)
            %td
              = audit.user&.login
            %td
              = t("audit.actions.#{audit.action}")
            %td
              = audit.output
            %td
              = audit.comment

    .pt-2.text-right= raw pagy_nav(@pagy)