.row
  .col.col-12
    = raw pagy_nav(@pagy)
    %table.table
      %thead
        %tr
          %th Date
          %th Who
          %th Action
          %th Output
      %tbody
        - @audits.each do |audit|
          %tr
            %td
              = rus_datetime(audit.created_at)
            %td
              = audit.user&.login
            %td
              = t("audit.actions.#{audit.action}")
            %td
              = audit.output
    = raw pagy_nav(@pagy)