%h1 Listing rounds

%table
  %thead
    %tr
      %th Theme
      %th User
      %th Current answers
      %th Wrong answers
      %th Finished
      %th
      %th
      %th

  %tbody
    - @rounds.each do |round|
      %tr
        %td= round.theme.title
        %td= round.user.email
        %td= round.current_answers
        %td= round.wrong_answers
        %td= round.finished
        %td= link_to 'Show', round