.row
  .col
    %p
      %b Theme:
      = @round.theme.title
    %p
      %b User:
      = @round.user.email
    %p
      %b Current answers:
      = @round.current_answers
    %p
      %b Wrong answers:
      = @round.wrong_answers
    %p
      %b Finished:
      = @round.finished
    %p
      %b Questions:
      = @all_questions.count

    = link_to 'Back', rounds_path
  .col
    %table
      - @round.results.each do |result|
        %tr
          %td
            %i= result.question.title
          %td
            %b= result.answer.title
          %td
            %b= result.success