.row
  .col
    %p
      %b Theme:
      = @round.theme.title
    %p
      %b User:
      = @round.user.email
    %p
      %b Current answers:
      = @round.current_answers
    %p
      %b Wrong answers:
      = @round.wrong_answers
    %p
      %b Finished:
      = @round.finished
    %p
      %b Questions:
      = @round.answers_collection

    = link_to 'Back', rounds_path

  .col
    #questions
      = link_to 'start', round_path(@round, page: 1), class: 'btn', remote: true
