!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quiz
    = render 'application/favicon'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.row
      = link_to 'QUIZ', root_url, class: 'header-logo'
      %ul.inline-list.header-menu
        %li{class: params[:controller] == 'questions' ? 'active' : nil}
          = link_to 'Questions', questions_path
        - if policy(User).index?
          %li{class: (%w[devise/sessions users].include? params[:controller]) ? 'active' : nil }
            = link_to 'Users', users_path
        - if policy(:main).audit?
          %li{class: params[:action] == 'audit' ? 'active' : nil}
            = link_to 'Audit', audit_path
      = render 'users/userbar'
    .content.bg-white
      - if flash.any?
        .row#flash
          .col
            - flash.each do |type, msg|
              = content_tag :div, msg, class: type
      = yield
    %footer
      .float-right 2021@quiz